<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Посетитель: {{vis.name}} из отеля {{vis.hotel.name}}</title>
</head>
<body>
    <h1><strong>Посетитель: {{vis.name}} из отеля {{vis.hotel.name}}</strong></h1>
    <p><strong>Дата заселения:</strong> {{vis.date}}</p>
    <h1><strong>Паспортные данные:</strong></h1>
    <p><strong>Номер: </strong>{{vis.passport.number}}</p>
    <p><strong>Серия: </strong>{{vis.passport.number_ser}}</p>
    <p><strong>Дата рождения: </strong>{{vis.passport.date_of_birth}}</p>
    <p><strong>Имя: </strong>{{vis.passport.name}}</p>
    <p><strong>Фамилия: </strong>{{vis.passport.last_name}}</p>
</body>
</html>